<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Baimenak</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/loginForm.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <listener>
    <listener-class>baimenak.MySessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>baimenak.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/servlet/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>baimenak.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>baimenak.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/servlet/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IkusiServlet</servlet-name>
    <servlet-class>baimenak.IkusiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IkusiServlet</servlet-name>
    <url-pattern>/servlet/IkusiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaimenaHautatu</servlet-name>
    <servlet-class>baimenak.BaimenaHautatu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaimenaHautatu</servlet-name>
    <url-pattern>/servlet/BaimenaHautatu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PDFsortu</servlet-name>
    <servlet-class>baimenak.PDFsortu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFsortu</servlet-name>
    <url-pattern>/servlet/PDFsortu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBaimenServlet</servlet-name>
    <servlet-class>baimenak.UpdateBaimenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBaimenServlet</servlet-name>
    <url-pattern>/servlet/UpdateBaimenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewBaimenServlet</servlet-name>
    <servlet-class>baimenak.NewBaimenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBaimenServlet</servlet-name>
    <url-pattern>/servlet/NewBaimenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>baimenak.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SegurServlet</servlet-name>
    <servlet-class>baimenak.SegurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SegurServlet</servlet-name>
    <url-pattern>/servlet/SegurServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpdatePassServlet</servlet-name>
    <servlet-class>baimenak.UpdatePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassServlet</servlet-name>
    <url-pattern>/servlet/UpdatePassServlet</url-pattern>
  </servlet-mapping>
</web-app>